entrypoint = "main.py"
modules = ["python-3.8:v2-20230907-3d66d15"]

hidden = [".pythonlibs"]

[nix]
channel = "stable-23_05"

[env]
LANG = "en_US.UTF-8"

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "SoundCart Website"

[[workflows.workflow]]
name = "SoundCart Website"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 -m http.server 5000"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80
